<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/27369180/favicon.ico" type="image/x-icon">
    <title>SPA ATI</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/spa.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul class="borde_superior">
                <li id="ArrIzq">ATI<span id="ArrIzqspan">[UCV]</span>2025-1</li>
                <li id="saludo"></li>
                <li>
                    <form id="searchForm" class="formulario">
                        <input type="text" id="search" placeholder="Nombre...">
                        <button type="submit">Buscar</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <section id="content">
    </section>

    <footer id="footer"></footer>
</body>
</html>